[Unit]
Description=BIRD Looking Glass - Proxy
After=bird.service

[Service]
Type=simple
User=bird
Group=bird
ExecStart=/usr/local/bin/bird-lg-proxy
Restart=on-failure
EnvironmentFile=/home/ubuntu/dn42-config/bird-lg-go/bird-lg-proxy.env

[Install]
WantedBy=multi-user.target