[Unit]
Description=BIRD Looking Glass - Proxy
After=bird.service

[Service]
Type=simple
User=bird
Group=bird
ExecStart=/home/debian/go/bin/proxy
Restart=on-failure
EnvironmentFile=/home/debian/dn42-config/bird-lg-go/bird-lg-proxy.env

[Install]
WantedBy=multi-user.target